	body{
		margin: 0px;
		background-color: #ffffff;
		/*padding-top:160px;*/
	}
	h1{
		margin: 0px;
		font-family: Times, Times New Roman, serif;
		color: #2e312f;
		font-size: 45px;
	}
	h2{
		margin: 0px;
		font-family: Times, Times New Roman, serif;
		color: #2e312f;
		font-size: 16px;
	}
	#header{
		width: 1000px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		/*border-bottom: 1px solid black;*/
		text-align: center;
		text-shadow: 1px 5px 10px #000;
		/*position: relative;*/
		/*position: fixed;*/
	}

	.content {
		position: relative;
		width: 1000px;
		line-height:1.5;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.content_home {
		position: relative;
		width: 1000px;
		line-height:1.5;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.content_edu {
		position: relative;
		width: 1000px;
		line-height:1.5;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.content_project {
		position: relative;
		width: 1000px;
		line-height:1.5;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	#footer {
		/*height:50px;			*/
		background-color: black;
		color: #ffffff;
		text-align: left;
		font-size:1em;
		line-height:50px;
		padding:0px 120px;
	}

	#footer a:link {
		color: #ffffff;
		background-color: transparent;
		/* text-decoration: none; */
	}

	#footer a:visited {
		color: #ffffff;
		background-color: transparent;
		/* text-decoration: none; */
	}
	.clearfloat {
		clear: both;
	}
	
	#c_biography{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 10px;
		padding-right: 10px;
		width: 580px;
		height: 300px;
		float: left;
		/* background-color: red; */
	}
	
	#c_biography a:link {
		color: #990000;
		background-color: transparent;
		/* text-decoration: none; */
	}

	#c_biography a:visited {
		color: #990000;
		background-color: transparent;
		/* text-decoration: none; */
	}

	#c_contact_biography{
		margin-top: auto;
		margin-bottom: 0px;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 50px;
		width: 400px;
		height: 320px;
		float: left;
		/* background-color: red; */
	}


	#c_contact_biography a:link {
		color: #990000;
		background-color: transparent;
		/* text-decoration: none; */
	}

	#c_contact_biography a:visited {
		color: #990000;
		background-color: transparent;
		/* text-decoration: none; */
	}

	#c_profile{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		width: 400px;
		height: 300px;
		float: left;
		/* background-color: green; */
	}

	#c_contact_profile{
		margin-top: auto;
		margin-bottom: 40px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 980px;
		height: 320px;
		float: left;
		/* background-color: green; */
	}

	#c_info{
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
		width: 960px;
		height: 100px;
		float: right;
		/* background-color: blue; */
	}

	/* #c_thumbnail {
		background-image: url('img/profile.jpg');
		width: 300px;
		height: 300px;
		background-position: right;
		background-size: cover;
		float: left;
		border: 0px solid #000;
		border-radius: 50%;
		overflow: hidden;
	} */

	#c_contact_thumbnail_1 {
		background-image: url('img/donate.jpg');
		width: 200px; 
		height: 200px;
		margin: 10px;
		background-position: right;
		background-size: cover;
		float: left;
		border: 2px solid #ffffff;
		border-radius: 50%;
		overflow: hidden;
	}

	#c_contact_thumbnail_2 {
		background-image: url('img/donate_paypal.jpg');
		width: 200px; 
		height: 200px;
		margin: 10px;
		background-position: right;
		background-size: cover;
		float: left;
		border: 2px solid #ffffff;
		border-radius: 0%;
		overflow: hidden;
	}

	.c_education_wrapper, .c_intern_wrapper, .c_public_wrapper, .c_project_wrapper, .c_contact_wrapper{
		border-top: 2px solid black;
	}

	.c_home_wrapper, .c_contact_wrapper{
		margin-top: 20px;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
		width: 1000px;
		float: left;
	}
	.c_education_wrapper, .c_intern_wrapper{
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 1000px;
		float: left;
	}

	.c_education, .c_intern{
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 980px;
		height: 160px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: auto;
		margin-left: auto;
		background-color:#ffffff;
		font-size: 15px;
		font-family:Georgia, serif;
		/*background-color: green;*/
	}

	.c_public_wrapper, .c_project_wrapper{
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 1000px;
		float: left;
	}

	.c_public, .c_project{
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: auto;
		margin-left: auto;
		width: 980px;
		height: 180px;
		background-color:#ffffff;
		line-height: 1.5;
		font-size: 15px;
		font-family:Georgia, serif;
	}

	#c_font1{
		font-size: 40px;
	}

	.c_font1_1{
		font-size: 30px;
		font-family:Georgia, serif;
	}

	.c_font2{
		font-size: 20px;
	}
	.c_font2_1{
		font-size: 18px;
	}
	.c_font3{
		font-size: 15px;
		font-family:Georgia, serif;
	}
	#c_font4{
		color: #0000;
		font-size: 40px;
	}
	
	#buttons{
		height: auto;
		width: 100%;
	}
	#button0{
		height: auto;
		width: 100%;
	}
	#button1{
		height: auto;
		width: 100%;
	}
	#button2{
		height: 100%;
		width: auto;
	}
	#button3{
		height: 100%;
		width: auto;
		background-position: center;
	}
	#button4{
		height: 100%;
		width: auto;
	}
	#button5{
		height: 100%;
		width: auto;

	}
	#button6{
		height: 100%;
		width: auto;
	}

	#nav-wrapper {
		background-color: #ffffff;

/*			top: 0px;
		left: 0px;
		right: 0px;*/
		z-index: 1;
	}

	#nav {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
/*			margin-bottom: 30px;*/
		padding: 0px 250px;
		font-size:0;
		background-color: black;
		z-index: 1;
	}

	#nav a {
		text-decoration: none;
		background-color: black;
		width: 100px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		text-align: center;
		color: white;
		font-size:14px;
	}

	#nav a:hover {
		background-color: #2e312f;
		color: white;
	}

	#nav a.active {background-color:maroon;color:#ffffff;}

	.btn {
		border: none;
		outline: none;
		cursor: pointer;
		text-decoration: none;
		background-color: black;
		width: 100px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		text-align: center;
		color: white;
		font-size:14px;
	  }

	.btn:hover {
		background-color:maroon;
		color:#ffffff;
	}

	.active {
		background-color:maroon;
		color:#ffffff;
	}

	.dates{
		float:right;
	}
	.logo_wrapper{
		margin-top: 20px;
		float:right;
	}
	.schoollogo{
		width:auto;
		height: 100px;
	}	

	.disp_wrapper{
		/*margin-top: 20px;*/
		width: 360;
		height: 300;
		float:left;
		text-align: center;
		margin: 0px 20px 0px 0px;
	}

	.project_img{
		width:300px;
		height: auto;
	}
	.project_img2{
		width: auto;
		height: 200px;
	}

	.small_font{
		font-size: 0.8em;
		line-height: 0.4;
	}

	.dates{
		float:right;
	}

	.b_thumbnail{
		float: left;
		background-color: white;
		width: 30px;
		height: 30px;
		margin: 10px 10px;
		background-position: center;
		background-size: cover;
	}
	.b_img{
		height: 100%;
		width: auto;
	}
	.b_font{
		float: left;
		height: 50px;
		width: 150px;
		margin: 0px 50px 0px 0px;
		font-size: 14px;
		background-color: black;
	}

	.thumbnail {
		background-color: #ffffff;
		width: 60px;
		height: 60px;
		float: left;
		margin:5px;
/*		border: 1px solid #000;*/
		overflow: hidden;
		border-radius: 50%;
		/* add relative position */
		position:relative;
		text-align: center;
		color: white;
		font-size: 0.6em;
		cursor: pointer;

	}
	.thumbnail p {
		margin-top:12px;

	}

	.overlay {
		/*background:#000; */
		background-color: rgba(0, 0, 0, 0.6);
		color:#ffffff;
		position:absolute;
		top:0;
		left:0px;
		right:0px;
		bottom:0px;
		text-align:center;
		visibility:hidden;
		/*padding-top:35%;*/
	}
		/* Add the overlay hover effect */
	.thumbnail:hover .overlay {
		visibility:visible;
	}
	.c_thumbnail {
		background-color: #ffffff;
		width: 300px;
		height: 300px;
		float: left;
		margin:0px;
/*		border: 1px solid #000;*/
		overflow: hidden;
		border-radius: 50%;
		/* add relative position */
		position:relative;
		text-align: center;
		color: white;
		font-size: 0.6em;
		cursor: pointer;
	}
	.c_thumbnail p {
		margin-top:0px;

	}
	.c_thumbnail:hover .overlay  {
		visibility:visible;
	}
	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	.sticky + .content {
	  padding-top: 60px;
	}

	@media (max-width:991px) {
		#header, #content, .c_education_wrapper, .c_intern_wrapper,.c_education, .c_intern, .c_public_wrapper, .c_project_wrapper, .c_public, .c_project {width:auto; margin-left: 5%;margin-right: 5%;}
		#nav{width:25%;}
		.b_font,.b_thumbnail{width: 100%; margin: 0px;}
		#footer{
			width: auto;
		}
	}

	/* Mobile – Screen Sizes ≤ 767px */

	@media (max-width:767px) {
		body {padding:0;}
		#nav {position:static; width:25%;}

	}
